* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

/* gap start */
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}
/* gap end */

/* font-size start */
.fs-small {
  font-size: 14px;
}

.fs-smaller {
  font-size: 13px;
}

.fs-smallest {
  font-size: 12px;
}
/* font-size end */

/* letter spacing start */
.ls-3 {
  letter-spacing: 0.3px;
}

.ls-5 {
  letter-spacing: 0.5px;
}
/* letter spacing end */

/* ---------------------------------------------------- */

/* Header Start */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-bottom .input-group {
  max-width: 330px;
}

.header-bottom .input-group input,
.header-upper .input-group input {
  height: 36px;
}

.header-bottom .input-group .input-group-text,
.header-upper .input-group .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-upper .header-upper-links .badge {
  width: 25px;
  height: 15px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 4px 3px 0;
  display: inline-table;
  padding: 2px !important;
  line-height: 12px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header-bottom .dropdown button::after {
  border: 0;
  background-image: url("../public/images/caret-down.svg");
  background-size: contain;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 4px;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown::after {
  content: "";
  height: 25px;
  background: #596069;
  width: 0.85px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 40px, 0px) !important;
  border-radius: 0 0 10px 10px;
}

.nav-drawer ul li,
.header-bottom .dropdown-menu .dropdown-item {
  display: inline-block;
  width: 100%;
  padding: 11px 15px;
  text-transform: capitalize;
  line-height: 30px;
  border-bottom: 1px solid var(--color-3b4149);
  font-weight: 400;
  text-align: left;
}

.nav-drawer ul li a:hover,
.header-bottom .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

.nav-drawer {
  background-color: var(--color-131921);
  max-width: 270px;
  top: 35px;
}

.nav-drawer .close-btn {
  position: absolute;
  color: #ffffff;
  background-color: var(--color-232f3e);
  border: none;
  left: 269px;
  height: 32px;
  width: 32px;
}

.nav-drawer .close-btn img {
  height: 32px;
  width: 32px;
}
/* Header End */

/* Footer Start */
footer {
  background-color: var(--color-232f3e);
}

footer > div:not(:first-child) {
  border-top: 1px solid var(--color-3b4149);
}

footer .input-group input {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

footer .input-group-text {
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer .input-group-text button {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
  margin: 4px;
  border-radius: 5px;
}

footer .input-group-text button:hover {
  background-color: var(--color-febd69);
  color: var(--color-232f3e);
}

footer .input-group-text address {
  line-height: 25px;
}

footer .social_icons a {
  height: 40px;
  width: 40px;
  background-color: var(--color-3b4149);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

footer .footer-links a:hover, 
footer .social_icons a:hover{
  color: var(--color-febd69) !important;
}
/* Footer End */

/* --------------------------------------------------------------- */

/* MEDIA QUERIES */
/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
  .header-upper .hamburger img,
  .header-upper .header-upper-links img {
    width: 30px;
    height: 30px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .header-upper .hamburger img,
  .header-upper .header-upper-links img {
    width: 25px;
    height: 25px;
  }

  .header-upper .header-upper-links .badge {
    width: 15px;
    padding: 1px !important;
    line-height: 13px;
    position: absolute;
    top: -9px;
    right: -7px;
  }

  footer .input-group-text button {
    font-size: 13px;
    padding: 6px 10px;
  }
}
