* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-1c1b1b: #1c1b1b;
  --color-f5f5f7: #f5f5f7;
  --color-666666: #666666;
  --color-c9c9c9: #c9c9c9;
  --color-ededed: #ededed;

  --base-border-radius: 10px;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-232f3e);
}

/* gap start */
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}
/* gap end */

/* border-radius start */
.rounded-base {
  border-radius: var(--base-border-radius);
}
/* border-radius end */

/* font-size start */
.fs-small {
  font-size: 14px;
}

.fs-smaller {
  font-size: 13px;
}

.fs-smallest {
  font-size: 12px;
}
/* font-size end */

/* letter spacing start */
.ls-3 {
  letter-spacing: 0.3px;
}

.ls-4 {
  letter-spacing: 0.4px;
}

.ls-5 {
  letter-spacing: 0.5px;
}
/* letter spacing end */

/* horizontal scroll start */
.h-scroll-track {
  background-color: var(--color-c9c9c9);
  height: 2px;
  width: 100%;
  position: relative;
  top: -3.5px;
}

.h-scroll::-webkit-scrollbar {
  height: 5px;
}

.h-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.h-scroll::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: var(--color-c9c9c9);
}

.h-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-c9c9c9);
}

.h-scroll::-webkit-scrollbar:vertical {
  display: none;
}
/* horizontal scroll end */

/* ---------------------------------------------------- */

/* Header Start */
.header-top-strip {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.header-upper {
  background-color: var(--color-131921);
}

.header-bottom .input-group {
  max-width: 330px;
}

.header-bottom .input-group input,
.header-upper .input-group input {
  height: 36px;
}

.header-bottom .input-group .input-group-text,
.header-upper .input-group .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper.header-upper-links img {
  width: 35px;
  height: 35px;
}

.header-upper .header-upper-links .badge {
  width: 25px;
  height: 15px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;
  margin: 4px 3px 0;
  display: inline-table;
  padding: 2px !important;
  line-height: 12px;
}

.header-bottom {
  background-color: var(--color-232f3e);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.header-bottom .dropdown button::after {
  border: 0;
  background-image: url("../public/images/caret-down.svg");
  background-size: contain;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-left: 4px;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown::after {
  content: "";
  height: 25px;
  background: #596069;
  width: 0.85px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header-bottom .dropdown-menu {
  background-color: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 40px, 0px) !important;
  border-radius: 0 0 10px 10px;
}

.nav-drawer ul li,
.header-bottom .dropdown-menu .dropdown-item {
  display: inline-block;
  width: 100%;
  padding: 11px 15px;
  text-transform: capitalize;
  line-height: 30px;
  border-bottom: 1px solid var(--color-3b4149);
  font-weight: 400;
  text-align: left;
}

.nav-drawer ul li a:hover,
.header-bottom .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

.nav-drawer {
  background-color: var(--color-131921);
  max-width: 270px;
  top: 35px;
}

.nav-drawer .close-btn {
  position: absolute;
  color: #ffffff;
  background-color: var(--color-232f3e);
  border: none;
  left: 269px;
  height: 32px;
  width: 32px;
}

.nav-drawer .close-btn img {
  height: 32px;
  width: 32px;
}
/* Header End */

/* Footer Start */
footer {
  background-color: var(--color-232f3e);
}

footer > div:not(:first-child) {
  border-top: 1px solid var(--color-3b4149);
}

footer .input-group input {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

footer .input-group-text {
  background-color: white;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer .input-group-text button {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
  margin: 4px;
  border-radius: 5px;
}

footer .input-group-text button:hover {
  background-color: var(--color-febd69);
  color: var(--color-232f3e);
}

footer address {
  line-height: 25px;
}

footer .social_icons a {
  height: 40px;
  width: 40px;
  background-color: var(--color-3b4149);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

footer .footer-links a:hover,
footer .social_icons a:hover {
  color: var(--color-febd69) !important;
}
/* Footer End */

/* ---------------Home Page Start--------------- */
/* Home Wrapper 1 Start */
.main-banner-content {
  top: 12%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
}

.main-banner-content h5 {
  font-size: 48px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  color: var(--color-1c1b1b);
  margin: 14px 0 17px;
}

.main-banner-content p {
  line-height: 28px;
  letter-spacing: 0.4px;
  margin: 0 0 32px;
  color: var(--color-1c1b1b);
  font-size: 15px;
}

.home-wrapper-1 .carousel-indicators button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 1;
}

.home-wrapper-1 .carousel-indicators .active {
  background-color: var(--color-232f3e);
}

.smaller-banner-wrapper img {
  transition: all 300ms ease;
}

.smaller-banner-wrapper a:hover img {
  transform: scale(1.04);
}

.small-banner-content {
  top: 18%;
  left: 5%;
  width: 57%;
}

.small-banner-content h4 {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
}

.small-banner-content h5 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  color: var(--color-1c1b1b);
  margin: 5px 0 7px;
}

.small-banner-content p {
  line-height: 22px;
  letter-spacing: 0.4px;
  margin: 0 0 32px;
  color: var(--color-1c1b1b);
  font-size: 13px;
}
/* Home Wrapper 1 End */

/* Home Wrapper 2 Start */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

.home-wrapper-2 h6 {
  font-size: 16px;
  color: var(--color-1c1b1b);
}

.home-wrapper-2 p {
  color: var(--color-666666);
}

.home-wrapper-2 .categories {
  background-color: white;
  padding: 22px;
  box-shadow: 0 0 10px #0000001a;
  border-radius: var(--base-border-radius);
}

.home-wrapper-2 .categories > a {
  display: flex;
  justify-content: center;
}

.home-wrapper-2 .categories > a > div {
  width: 90%;
}

.home-wrapper-2 .categories img {
  width: 110px;
  height: 110px;
}

.home-wrapper-2 .categories > a:nth-child(1),
.home-wrapper-2 .categories > a:nth-child(2),
.home-wrapper-2 .categories > a:nth-child(3),
.home-wrapper-2 .categories > a:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}

.home-wrapper-2 .categories > a:nth-child(1),
.home-wrapper-2 .categories > a:nth-child(2),
.home-wrapper-2 .categories > a:nth-child(3),
.home-wrapper-2 .categories > a:nth-child(5),
.home-wrapper-2 .categories > a:nth-child(6),
.home-wrapper-2 .categories > a:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/* Home Wrapper 2 End */

/* Marquee Start */
.marque-wrapper {
  background-color: var(--color-f5f5f7);
}

.marque-wrapper .marquee-inner-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: var(--base-border-radius);
  overflow: hidden;
}
/* Marquee End */

/* Blog Start */
.blog-wrapper {
  background-color: var(--color-f5f5f7);
}

.blog-wrapper img {
  transition: all 300ms ease;
}

.blog-wrapper a:hover img {
  transform: scale(1.04);
}

.blog-wrapper a {
  min-width: 240px;
}

.blog-card {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  border-radius: var(--base-border-radius);
  overflow: hidden;
}

.blog-content {
  padding: 25px 15px;
}

.blog-content .date {
  color: var(--color-666666);
}

.blog-content .title {
  color: var(--color-1c1b1b);
  margin: 0 0 10px;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-content .desc {
  font-size: 13px;
  line-height: 22px;
  text-transform: capitalize;
  margin: 0 0 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-666666);
}

.blog-content button {
  letter-spacing: 0.3px;
  padding: 10px 20px;
  outline: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--color-232f3e);
  border-radius: 25px;
  color: white;
  border: 0;
}

.blog-content button:hover {
  color: var(--color-232f3e);
  background-color: var(--color-febd69);
}
/* Blog End */
/* -----------------Home Page End------------------ */

/* --------------------------------------------------------------- */

/* MEDIA QUERIES */
/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
  .button {
    font-size: 12px;
    padding: 11px 30px;
  }

  /* ---------Home Page Start--------------- */
  /* Home Wrapper 1 Start */
  .main-banner-content h5 {
    font-size: 42px;
    line-height: 48px;
    margin: 12px 0 15px;
  }

  .main-banner-content h4,
  .main-banner-content p {
    font-size: 14px;
  }

  .main-banner-content p {
    margin: 0 0 28px;
  }

  .small-banner-content {
    top: 17%;
  }

  .small-banner-content h5 {
    font-size: 20px;
  }

  .small-banner-content h4,
  .small-banner-content p {
    font-size: 12px;
  }
  /* Home Wrapper 1 End */
  /* ----------Home Page End----------- */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .button {
    font-size: 12px;
    padding: 10px 22px;
    line-height: 16px;
  }

  /* -------------Home Page Start--------------- */
  /* Home Wrapper 1 Start */
  .main-banner-content h5 {
    font-size: 32px;
    margin: 0 0 12px;
    line-height: 34px;
  }

  .main-banner-content h4 {
    font-size: 11px;
    line-height: 18px;
    margin: 0 0 6px;
  }

  .main-banner-content p {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 16px;
  }

  .small-banner-content h5 {
    font-size: 15px;
    line-height: 22px;
  }

  .small-banner-content h4,
  .small-banner-content p {
    font-size: 11px;
    line-height: 14px;
  }
  /* Home Wrapper 1 End */

  /* Home Wrapper 2 Start */
  .home-wrapper-2 .services h6 {
    font-size: 13px;
  }

  .home-wrapper-2 .categories > a:nth-child(1),
  .home-wrapper-2 .categories > a:nth-child(2),
  .home-wrapper-2 .categories > a:nth-child(3),
  .home-wrapper-2 .categories > a:nth-child(4),
  .home-wrapper-2 .categories > a:nth-child(5),
  .home-wrapper-2 .categories > a:nth-child(6) {
    border: 0;
    border-bottom: 1px solid var(--color-ededed);
  }

  .home-wrapper-2 .categories > a:nth-child(1),
  .home-wrapper-2 .categories > a:nth-child(3),
  .home-wrapper-2 .categories > a:nth-child(5),
  .home-wrapper-2 .categories > a:nth-child(7) {
    border-right: 1px solid var(--color-ededed);
  }
  /* Home Wrapper 2 End */
  /* ------------Home Page End------------ */
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  /* -----------Home Page Start-------------------- */
  /* Home Wrapper 1 Start */
  .small-banner-content {
    top: 14%;
    width: 63%;
  }

  .small-banner-content h5 {
    font-size: 14px;
    line-height: 20px;
    margin: 4px 0;
  }

  .small-banner-content h4,
  .small-banner-content p {
    font-size: 10px;
    line-height: 12px;
  }
  /* Home Wrapper 1 End */

  /* Marquee Start */
  .marque-wrapper .marquee-inner-wrapper img {
    width: 120px;
    height: 120px;
  }
  /* Marquee End */
  /* -----------------Home Page End--------------- */
}

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
  /* ---------------Header Start------------- */
  .header-upper .hamburger img,
  .header-upper .header-upper-links img {
    width: 30px;
    height: 30px;
  }
  /* --------------Header End---------------- */

  /* -------------Home Page Start-------------- */
  /* Home Wrapper 1 Start */
  .small-banner-content {
    top: 18%;
    left: 8%;
    width: 45%;
  }

  .small-banner-content h5 {
    font-size: 15px;
    line-height: 22px;
    margin: 5px 0 7px;
  }

  .small-banner-content h4,
  .small-banner-content p {
    font-size: 11px;
    line-height: 14px;
  }
  /* Home Wrapper 1 End */

  /* Home Wrapper 2 Start */
  .home-wrapper-2 .categories > a > div {
    width: 100%;
  }

  .home-wrapper-2 h6 {
    font-size: 14px;
  }

  .home-wrapper-2 .categories {
    padding: 15px;
  }

  .home-wrapper-2 .categories img {
    width: 90px;
    height: 90px;
  }
  /* Home Wrapper 2 End */

  /* Blog Start */
  .blog-content .title {
    font-size: 16px;
  }

  .blog-content button {
    padding: 7px 15px;
    font-size: 12px;
  }
  /* Blog End */
  /* -------------Home Page End--------------- */
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .button {
    font-size: 10px;
    padding: 5px 12px;
    line-height: 16px;
  }

  /* ------------Header Start-------------- */
  .header-upper .hamburger img,
  .header-upper .header-upper-links img {
    width: 25px;
    height: 25px;
  }

  .header-upper .header-upper-links .badge {
    width: 15px;
    padding: 1px !important;
    line-height: 13px;
    position: absolute;
    top: -9px;
    right: -7px;
  }
  /* --------------Header End---------------- */

  /* --------------Footer Start----------------- */
  footer .input-group-text button {
    font-size: 13px;
    padding: 6px 10px;
  }
  /* --------------Footer End---------------- */

  /* --------------Home Page Start----------- */
  /* Home Wrapper 1 Start */
  .main-banner-content {
    top: 15%;
  }

  .main-banner-content h4 {
    font-size: 10px;
    line-height: 15px;
    margin: 0;
  }

  .main-banner-content h5 {
    font-size: 20px;
    margin: 10px 0 13px;
    letter-spacing: -1px;
    line-height: 15px;
  }

  .main-banner-content p {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 16px;
  }

  .small-banner-content {
    width: 100%;
  }

  .small-banner-content {
    top: 35%;
  }

  .small-banner-content h5 {
    font-size: 13px;
    margin: 0;
  }

  .small-banner-content h4 {
    font-size: 10px;
    line-height: 12px;
  }
  /* Home Wrapper 1 End */

  /* Home Wrapper 2 Start */
  .home-wrapper-2 .categories {
    padding: 5px;
  }

  .home-wrapper-2 .categories > a > div {
    width: 100%;
  }

  .home-wrapper-2 .categories > a:nth-child(1),
  .home-wrapper-2 .categories > a:nth-child(2),
  .home-wrapper-2 .categories > a:nth-child(3),
  .home-wrapper-2 .categories > a:nth-child(4),
  .home-wrapper-2 .categories > a:nth-child(5),
  .home-wrapper-2 .categories > a:nth-child(6),
  .home-wrapper-2 .categories > a:nth-child(7) {
    border: 0;
    border-bottom: 1px solid var(--color-ededed);
  }

  .home-wrapper-2 .categories img {
    width: 70px;
    height: 70px;
  }
  /* Home Wrapper 2 End */

  /* Marquee Start */
  .marque-wrapper .marquee-inner-wrapper img {
    width: 100px;
    height: 100px;
  }
  /* Marquee End */
  /* --------------Home Page End-------------- */
}
